.all-tickets {
  display: flex;
  width: 70%;
  justify-content: center;
}
.ant-alert {
  font-family: "Open Sans", sans-serif;
  align-content: center;
}
@media (max-width: 719px) {
  .all-tickets {
    width: 100%;
  }
}
