html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #f3f7fa;
}
.app {
  font-family: "Open Sans", sans-serif !important;
  max-width: 960px;
  background-color: #f3f7fa;
  margin: 0 auto;
}
@media (max-width: 719px) {
}
